.row
  - @movies.each do |movie|
    - movie_presenter = present(movie, with: MoviePresenter)
    .col-md-6.col-lg-4.col-xl-3
      .card.mb-3
        = image_tag movie_presenter.backdrop_url, class: "card-img-top img-fluid"
        .card-block
          %h6.card-title= movie["title"]
        .card-footer.text-muted
          %i.fa.fa-star
          = movie_presenter.vote_average
          .float-right
            %i.fa.fa-users
            = movie["vote_count"]

.row
  .col
    %p= link_to_previous_page @movies, t(".previous"), class: "btn btn-secondary"
  .col.text-right
    %p= link_to_next_page @movies, t(".next"), class: "btn btn-secondary"

%p
