-# TODO: Decorate and localize.
.ui.four.stackable.doubling.cards
  - @movies.each do |movie|
    - movie_presenter = present(movie, with: MoviePresenter)
    .ui.card
      .image= image_tag(movie_presenter.backdrop_url)
      .content
        .header= movie["title"]
        .meta
          %span
            %i.fa.fa-calendar
            = movie_presenter.release_date
      .extra.content
        %i.fa.fa-star
        = movie_presenter.vote_average
        .right.floated
          %i.fa.fa-users
          = movie["vote_count"]

.ui.two.column.grid
  .column
    = link_to_previous_page @movies, "Previous", class: "ui button"
  .right.aligned.column
    = link_to_next_page @movies, "Next", class: "ui button"
