.ui.huge.secondary.menu
  %a.active.red.item
    = t(".movies")
  %a.item
    = t(".people")
  .right.menu
    = render "search_form"
    = render "locale_switcher"
    %a.ui.item
      = t(".log_out")
